{% extends "base.html" %}

{% block css %}
    <style type="text/css">
        .item_pic{
            box-sizing: border-box;
            width: 100%;
            height: auto !important;
            text-align: start;
            border: 0.3em solid white;
            -webkit-box-shadow: 0.2em 0.2em 0.5em #666;
            -moz-box-shadow: 0.2em 0.2em 0.5em #666;
            box-shadow: 0.2em 0.2em 0.5em #666;
            cursor: pointer;
        }
        .panel-heading{
            height: 30px;;
        }
        .panel-title{
            margin-top: -4px;;
        }

        .panel-label{
            height: 15px; width: 15px; margin-top: -5px;
        }

        .panel-input{
            margin-top: 1px;
        }

        .glyphicon-star{
            color: #d58512;
        }
    </style>
{% endblock %}


{% block content %}
<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/index/{{user.id}}">首页</a></li>
            <!--<li><a href="#">店铺管理</a></li>-->
            <li>一口价商品</li>
        </ol>

        <!--<form action="buy/" method="post">-->
        <form action="{{user.id}}/buy/" method="post" enctype="multipart/form-data" target="_self">
            {% csrf_token %}
        <div class="row">
            <div class="col-sm-5">
                <div id="item_pic" class="item_pic_div" style="overflow: hidden;">
                    <img src="{{goods.pic.picUrl.url}}" alt="" style="width: 100%;">
                </div>
            </div>

            <div class="col-sm-7 summary entry-summary">

                <h1 class="product_title">{{goods.item.goods.title}}</h1>


                <div>
                    <h3>商品描述</h3>
                    <p>{{goods.item.goods.detail}}</p>
                </div>

                <hr>

                <p class="price" style="font-size: 1.5em;">
                    <h2><sup>￥</sup><span class="amount">{{goods.item.goods.price}}</span></h2>
                </p>

                <div style="margin-top: 10px;">
                    <div class="" style="float: left; display: inline;margin-right: 10px;">
                        <span style="font-size: 1.2em">数量：</span>
                    </div>
                    <div class="" style="width: 30%;float: left; display: inline;">
                        <div class="input-group" style="min-width: 100px; ">

                            <div class="btn input-group-addon sub" id="sub">-</div>
                            <input type="text" class="form-control input-sm flower_sum "  value="1" name="sum" id="sum"
                                   style="text-align: center">
                            <div class="btn input-group-addon add" id="add">+</div>
                        </div>
                    </div>
                    <div class="price" style="font-size: 1.2em; float: left; display: inline;margin-left: 10px;">
                        <span>(库存：<span id="remail">{{goods.item.goods.remain}}</span>)</span>
                    </div>
                </div>

                <br style="clear: both"/>
                <br />
                <div>
                    <input type="submit" class="btn btn-info btn-lg" id="buy_now" value="立即购买">
                </div>

            </div>
        </div>
        </form>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs product-tabs">
            <li class="active"><a href="#description" data-toggle="tab">商品详情</a></li>
            <li><a href="#reviews" data-toggle="tab">评价 (3)</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="description">
                <p>{{goods.item.goods.detail}}</p>
            </div>

            <div class="tab-pane" id="reviews">

                <div id="reviews">
                    <ol class="commentlist">

                        <li class="comment">
                            <div class="comment_container">
                                <img src="http://placehold.it/64x64" class="avatar">
                                <div class="comment-text">
                                    <div class="start-rating" >
                                        <span class="glyphicon glyphicon-star" ></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </div>
                                    <h5 class="meta">用户1 <span>&mdash; 2015-5-1 12:00</span></h5>
                                    <p>还可以还可以</p>
                                </div>
                            </div>
                        </li>

                        <li class="comment">
                            <div class="comment_container">
                                <img src="http://placehold.it/64x64" class="avatar">
                                <div class="comment-text">
                                    <div class="start-rating">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                   <h5 class="meta">用户2 <span>&mdash; 2015-5-6 14:00</span></h5>
                                    <p>还可以还可以</p>
                                </div>
                            </div>
                        </li>

                        <li class="comment">
                            <div class="comment_container">
                                <img src="http://placehold.it/64x64" class="avatar">
                                <div class="comment-text">
                                    <div class="start-rating">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </div>
                                    <h5 class="meta">买家 <span>&mdash; 2015-6-1 12:00</span></h5>
                                    <p>还可以还可以</p>
                                </div>
                            </div>
                        </li>

                    </ol>
                </div>


            </div>
        </div>

    <hr />
    </div>
</section>

<!-- ========== CONTENT END ========== -->
{% endblock %}


{% block js %}
<script>
$(function(){
    var width = $("#item_pic").width();
    $("#item_pic").height(width * 1);
});

$(function(){
    $("#sub").click(function(){

        var sum = parseInt($("#sum").val());
        if(sum > 0){
            --sum;
        }
        else{
            sum = 0;
        }

        $("#sum").val(sum);
    });
    $("#add").click(function(){
        var remail = parseInt($("#remail").html());
        var sum = parseInt($("#sum").val());
        if(sum < remail)
            sum++;

        $("#sum").val(sum);
    });
});





   function ajaxjson(information){
console.log(information);
    //django需要带上csrftoken
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    console.log("sasasaaaaaaaaaaaaaaaaaaad")
    $.ajax({
        url:"http://127.0.0.1:8000/usercenter/applystore/", //getBaseURL()+"/RequestAjaxPerInfo/",
        data:{"information":JSON.stringify(information)},
        async:true,
        dataType:"json",
        type:"POST",
        success:function(result) {
            console.log(result);

            var is_success = result.is_success;
            if(is_success){
                alert("申请开店成功");
                location.reload(true);
                return true;
            }
            else{
                alert("该店铺已经已经被注册,请重新申请");
                return false;
            }
        }

    });
}
</script>
{% endblock %}