{% extends "noaccount_base.html" %}


{% block css %}
    <style type="text/css">
        .item_pic{
            box-sizing: border-box;
            width: 100%;
            height: auto !important;
            text-align: start;
            border: 0.3em solid white;
            -webkit-box-shadow: 0.2em 0.2em 0.5em #666;
            -moz-box-shadow: 0.2em 0.2em 0.5em #666;
            box-shadow: 0.2em 0.2em 0.5em #666;
            cursor: pointer;
        }
        .panel-heading{
            height: 30px;;
        }
        .panel-title{
            margin-top: -4px;;
        }

        .panel-label{
            height: 15px; width: 15px; margin-top: -5px;
        }

        .panel-input{
            margin-top: 1px;
        }
    </style>
{% endblock %}


{% block content %}
<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/index/">首页</a></li>
            <!--<li><a href="#">店铺管理</a></li>-->
            <!--<li>添加商品</li>-->
        </ol>

        <div class="row" id="store_manage" >
            <div class="col-sm-3 sidebar" id="directory_tree" >
                <aside class="widget widget_product_categories">
                    <h3 class="widget-title">商品分类</h3>
                    <ul>
                        <li><a href="#yikoujia_div">一口价商品</a></li>
                        <li><a href="#auction_div">竞拍商品</a></li>
                        <li><a href="#group_buy_div">团购商品</a></li>
                        <!--<li><a href="#">商品管理</a></li>-->
                        <!--<li><a href="#">添加商品</a></li>-->
                    </ul>
                </aside>
            </div>

            <div class="col-sm-9" >

                <ul class="products row">

                    <div id="yikoujia_div" style="position: static">
                        <div style="height: 40px;margin: 15px;margin-top: 0;background-color: #565656;border-radius: 5px;padding-top: 5px;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 style="margin-left: 15px;color: #ffffff">一口价商品</h3>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <span style="margin-right: 20px;"><a href="#">更多>></a></span>
                                </div>
                            </div>
                        </div>
                        <div style="overflow: hidden">
                            {% for yikoujia in yikoujia_list %}
                            <li class="col-sm-4 first">
                                <div class="product">
                                    <div class="thumbnail">
                                        <a href="/market/noaccount/item/yikoujia/1/{{yikoujia.item.goods.id}}" >
                                            <div class="item_pic_div" style="overflow: hidden;">
                                                <img src="{{ yikoujia.pic.picUrl.url }}" alt="">
                                            </div>
                                        </a>
                                        <a href="/market/noaccount/item/yikoujia/1/{{yikoujia.item.goods.id}}" class="add-to-cart" title="立即购买">
                                          <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                    </div>
                                    <hr>
                                    <!--<div class="row">-->
                                    <div class="title " style="width:90%;">
                                        <h3><a href="#">{{ yikoujia.item.goods.title }}</a></h3>
                                        <p>{{yikoujia.item.goods.detail}}</p>
                                    </div>
                                    <div class="">
                                        <span class="price">￥{{yikoujia.item.goods.price}}</span>
                                    </div>
                                </div>
                                <!--</div>-->
                            </li>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="auction_div" style="position: static">
                        <div style="height: 40px;margin: 15px;margin-top: 0;background-color: #565656;border-radius: 5px;padding-top: 5px;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 style="margin-left: 15px;color: #ffffff">竞拍商品</h3>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <span style="margin-right: 20px;"><a href="#">更多>></a></span>
                                </div>
                            </div>
                        </div>

                        <div style="overflow: hidden">
                            {% for auction in auction_list %}
                            <li class="col-sm-4 first">
                                <div class="product">
                                    <div class="thumbnail">
                                        <a href="/market/noaccount/item/auction/2/{{auction.item.goods.id}}" >
                                            <div class="item_pic_div" style="overflow: hidden;">
                                                <img src="{{ auction.pic.picUrl.url }}" alt="">
                                            </div>
                                        </a>
                                        <a href="/market/noaccount/item/auction/2/{{auction.item.goods.id}}" class="add-to-cart" title="立即购买">
                                      <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                                      </span>
                                        </a>
                                    </div>
                                    <hr>
                                    <!--<div class="row">-->
                                    <div class="title " style="width:90%;">
                                        <h3><a href="#">{{ auction.item.goods.title }}</a></h3>
                                        <p>{{auction.item.goods.detail}}</p>
                                    </div>
                                     <div class="time" style="width:90%;margin-left: 15px;">
                                        <p>开始：{{ auction.item.start_time|date:"Y-m-d H:i:s" }}</p>
                                        <p>截止：{{ auction.item.end_time|date:"Y-m-d H:i:s" }}</p>
                                    </div>
                                    <div class="row" >
                                        <div class="col-sm-5">
                                            <div class="min_sum" style="width:90%;margin-left: 15px;">
                                                <span>底价：<span>{{ auction.item.base_price }}</span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="min_sum" style="width:90%;margin-left: 15px;">
                                                <span>定金：<span>{{ auction.item.subscription }}</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <span class="price">当前价：￥<span>{{auction.item.hightest_price}}</span></span>
                                    </div>
                                    <!--<div class="">-->
                                        <!--<span class="price">￥{{auction.item.goods.price}}</span>-->
                                    <!--</div>-->
                                </div>
                                <!--</div>-->
                            </li>

                            {% endfor %}
                        </div>
                    </div>

                     <div id="group_buy_div" style="position: static">
                        <div style="height: 40px;margin: 15px;margin-top: 0;background-color: #565656;border-radius: 5px;padding-top: 5px;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 style="margin-left: 15px;color: #ffffff">团购商品</h3>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <span style="margin-right: 20px;"><a href="#">更多>></a></span>
                                </div>
                            </div>
                        </div>

                        <div style="overflow: hidden">
                            {% for group_buy in group_buy_list %}
                            <li class="col-sm-4 first">
                                <div class="product">
                                    <div class="thumbnail">
                                        <a href="/market/noaccount/item/groupbuy/3/{{group_buy.item.goods.id}}" >
                                            <div class="item_pic_div" style="overflow: hidden;">
                                                <img src="{{ group_buy.pic.picUrl.url }}" alt="">
                                            </div>
                                        </a>
                                        <a href="/market/noaccount/item/groupbuy/3/{{group_buy.item.goods.id}}" class="add-to-cart" title="立即购买">
                                          <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                    </div>
                                    <hr>
                                    <!--<div class="row">-->
                                    <div class="title " style="width:90%;">
                                        <h3><a href="#">{{ group_buy.item.goods.title }}</a></h3>
                                        <p>{{group_buy.item.goods.detail}}</p>
                                    </div>
                                    <div class="time" style="width:90%;margin-left: 15px;">
                                        <p>开始：{{ group_buy.item.start_time|date:"Y-m-d H:i:s" }}</p>
                                        <p>截止：{{ group_buy.item.end_time|date:"Y-m-d H:i:s" }}</p>
                                    </div>
                                    <!--<div class="min_sum" style="width:90%;margin-left: 15px;">-->
                                        <!--<p>至少数量：{{group_buy.item.min_num}}</p>-->
                                    <!--</div>-->
                                    <div class="row" style="padding: 0px;">
                                        <div class="col-sm-6" >
                                            <div class="min_sum" style=";margin-left: 15px;">
                                                <span>至少量：<span>{{ group_buy.item.min_num }}</span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="min_sum" style="width:90%;margin-left: 15px;">
                                                <span>定金：<span>{{ group_buy.item.subscription }}</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <span class="price">团购价：￥<span>{{group_buy.item.goods.price}}</span></span>
                                    </div>
                                </div>
                                <!--</div>-->
                            </li>

                            {% endfor %}
                        </div>
                    </div>

                </ul>


            </div>


        </div>

    </div>
</section>

<!-- ========== CONTENT END ========== -->
{% endblock %}


{% block js %}
<script>

//侧栏随屏幕滚动固定
$(function(){
    var parentDivHeight = 0;
    var topPadding = 100;
    $(function() {
        var offset = $("#directory_tree").offset();
        $(window).scroll(function() {
            parentDivHeight = $("#directory_tree").parent("div").height();//alert(parentDivHeight);
            var sideBarHeight = $("#directory_tree").height();
            if ($(window).scrollTop() > offset.top) {
                var newPosition = ($(window).scrollTop() - offset.top) + topPadding;
                var maxPosition = parentDivHeight - (sideBarHeight);
                if (newPosition > maxPosition) {
                    newPosition = maxPosition;
                }
                $("#directory_tree").stop().animate({
                    marginTop: newPosition,
                    speed: 'slow'
                });
            } else {
                $("#directory_tree").stop().animate({
                    marginTop: 0,
                    speed: 'slow'
                });
            };
        });
    });
});

$(function(){
    $(".item_pic_div").each(function(index){
        var width =  $(this).width();
        var height = width * 1;
        $(this).height(height);
    });
});

</script>
{% endblock %}