<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garbini</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/owl-carousel/1.32/owl.theme.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/owl-carousel/1.3.3/owl.transitions.min.css" rel="stylesheet">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "css/config.css" %}" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

    <![endif]-->

    <script src="statics/js/modernizr.custom.63321.js"></script>
</head>
<body>

<!-- Header -->
<header id="header">

    <!-- ========== TOP BAR START ========== -->

    <div id="top-bar">
        <div class="container">

            <nav id="language-selector">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的账号 <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Italian</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <nav id="shopping-cart">
                <a href="#">
                    <i class="fa fa-envelope fa-lg"></i> 消息
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">3</i>
          </span>
                </a>
            </nav>



            <nav id="top-nav" role="navigation" class="navbar">
                <div class="navbar-header">
                    <button data-target=".top-nav" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse top-nav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">好友<span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Italian</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">小组<span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Italian</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">卖家中心<span class="caret"></span></a>
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">我的账号 <b class="caret"></b></a>-->
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Italian</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<span class="caret"></span></a>
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">我的账号 <b class="caret"></b></a>-->
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Italian</a></li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div><!-- / #top-bar -->

    <!-- ========== TOP BAR START ========== -->

    <!-- ========== MENU START ========== -->

    <nav id="main-nav">
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><h1>淘美人</h1></a>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <div class="navbar-collapse collapse main-nav">
                            <ul class="nav navbar-nav navbar-right">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">首页</a>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">一口价 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Home #1 / Slider</a></li>
                                        <li><a href="#">Home #2 / Categories</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">团购 <b class="caret"></b></a>
                                    <ul class="dropdown-menu" >
                                        <li><a href="#">Subcat #1</a></li>
                                        <li><a href="#">Subcat #2</a></li>
                                        <li><a href="#">Subcat #3</a></li>
                                        <li><a href="#">Subcat #4</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">竞拍 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Subcat #1</a></li>
                                        <li><a href="#">Subcat #2</a></li>
                                        <li><a href="#">Subcat #3</a></li>
                                        <li><a href="#">Subcat #4</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">众筹 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Subcat #1</a></li>
                                        <li><a href="#">Subcat #2</a></li>
                                        <li><a href="#">Subcat #3</a></li>
                                        <li><a href="#">Subcat #4</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <!--<div class="row">-->
                    <div class="col-lg-4">
                        <div class="navbar-collapse collapse main-nav">
                            <ul class="nav navbar-nav navbar-right" style="width: 100%;">
                                <div class="input-group" style="padding-top: 0px;padding-bottom: 0px;line-height: 80px;height: 80px;width: 80%;align-items: flex-end">
                                    <!--<span style="position: relative">-->
                                    <div style="line-height: 40px;height: 40px;margin-top: 9%; width: 100%">
                                        <label class="sr-only" for="search">Email address</label>
                                        <input type="text" class="form-control" placeholder="Search for..." id="search"  style="width: 100%;">
                                        <!--</span>-->
        <span class="input-group-btn" >
        <button class="btn btn-default" type="button" >Go!</button>
      </span>
                                    </div>
                                </div><!-- /input-group -->
                            </ul>
                        </div><!-- /.col-lg-6 -->
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>

<!-- ========== MENU END ========== -->


<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li>登录</li>
        </ol>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1 class="page-title">登录</h1>
            </div>
            <div class="col-sm-3"></div>
            <div class="gap-9"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <div class="gap-10"></div>

                <h3 style="color: red">{{ error }}</h3>
                <div class="gap-10"></div>

                <form class="form-horizontal" action="http://127.0.0.1:8000/account/login/action/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="account" style="text-align: left;">
                            <h3 style="color: #101010;">邮箱:</h3>
                        </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control input-lg" id="account" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="password" style="text-align: left;">
                            <h3 style="color: #101010;">密码:</h3>
                        </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control input-lg" id="password" placeholder="Password" name="password">
                        </div>
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-lg">登录</button>
                    </div>
                </form>
                <div class="gap-30"></div>

            </div>

        </div>

        <div class="col-sm-3"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="text-align:right;">
                <span><h4 style="color: #080808">还没有账号，<a href="#">点我注册</a></h4></span>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
</section>

<!-- ========== CONTENT END ========== -->


<!-- ========== FOOTER START ========== -->

<footer id="footer">
    <div class="container">
        <hr>
        <div class="row">

            <div class="col-sm-3 col-sm-offset-1">
                <aside class="widget widget_nav_menu">
                    <h3 class="widget-title">淘美人</h3>
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">一口价</a></li>
                        <li><a href="#">团购</a></li>
                        <li><a href="#">竞拍</a></li>
                        <li><a href="#">众筹</a></li>
                        <li><a href="#">登录/注册</a></li>
                    </ul>
                </aside>
            </div>

            <div class="col-sm-4">
                <aside class="widget widget_nav_menu">
                    <h3 class="widget-title">商品</h3>
                    <ul>
                        <li><a href="#">数码电子</a></li>
                        <li><a href="#">家电</a></li>
                        <li><a href="#">服装</a></li>
                        <li><a href="#">生活</a></li>
                        <li><a href="#">书籍</a></li>
                        <li><a href="#">其他</a></li>
                    </ul>
                </aside>
            </div>

            <div class="col-sm-3">
                <aside class="widget widget_newsletter">
                    <h3 class="widget-title">联系我们</h3>
                    <form action="#" id="newsletter">
                        <label for="newsletter-email">给我们发邮件</label>
                        <div class="input-group">
                            <input type="text" name="newsletter-email" id="newsletter-email" placeholder="Email" class="form-control input-lg">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="button"><i class="fa fa-envelope"></i></button>
                            </span>
                        </div>
                    </form>
                </aside>
            </div>

        </div>
    </div>

    <div id="copyright">
        <div class="container">&copy; Copyright 淘美人 2015 | All Rights Reserved | Designed by <a href="http://github.com/chenrenzhan/digbueaty">chenrenzhan</a></div>
    </div>

</footer>

<!-- ========== FOOTER END ========== -->

<div id="cart-panel" class="panel panel-right" >
    <aside class="widget_shopping_cart">
        <h3>Shopping Cart</h3>
        <ul class="cart_list">
            <li>
                <a href="#">
                    <img alt="" src="http://placehold.it/60x60">
                    Reshape Panties
                </a>
                <span class="quantity">1 × <span class="amount">$12.00</span></span>
            </li>
            <li>
                <a href="#">
                    <img alt="" src="http://placehold.it/60x60">
                    Reshape Panties
                </a>
                <span class="quantity">1 × <span class="amount">$12.00</span></span>
            </li>
            <li>
                <a href="http://coffeecreamthemes.com/themes/perfekta/wordpress/s/flying-ninja/">
                    <img alt="" src="http://placehold.it/60x60">
                    Reshape Panties
                </a>
                <span class="quantity">1 × <span class="amount">$12.00</span></span>
            </li>
        </ul>
        <p class="total"><strong>Subtotal:</strong> <span class="amount">$36.00</span></p>
        <p class="buttons">
            <a class="btn btn-default btn-lg btn-block" href="#">View Cart</a>
            <a class="btn btn-primary btn-lg btn-block" href="#">Checkout</a>
        </p>
    </aside>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="../../../statics/js/bootstrap.min.js"></script>
<!--<script src="../../../statics/js/owl.carousel.min.js"></script>-->
<script src="../../../statics/js/jquery.jpanelmenu.min.js"></script>
<!--<script src="../../../statics/js/jquery.catslider.js"></script>-->
<!--<script src="../../../statics/js/main.js"></script>-->


<script>
    jQuery(document).ready(function($){
        var cartPanel = $.jPanelMenu({
            menu: '#cart-panel',
            trigger: '#shopping-cart a'
        });

        cartPanel.on();
    });
</script>

</body>
</html>
