{% extends "noaccount_base.html" %}


{% block content %}
<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/index/">首页</a></li>
            <li>注册</li>
        </ol>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1 class="page-title">注册</h1>
            </div>
            <div class="col-sm-3"></div>
            <div class="gap-9"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <!--<h4>邮箱/用户名</h4>-->
                <div class="gap-10"></div>

                <h3 style="color: red">{{ error }}</h3>
                <div class="gap-10"></div>

                <form class="form-horizontal" action="http://127.0.0.1:8000/account/signup/action/" method="post" name="register" id="register">
                    {% csrf_token %}

                    <!--{％ csrf_token ％}-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="email" style="text-align: left;">
                            <h3 style="color: #101010;">邮箱:</h3>
                        </label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control input-lg" id="email" placeholder="Email" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="username" style="text-align: left;">
                            <h3 style="color: #101010;">用户名:</h3>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-lg" id="username" placeholder="Username" name="username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password" style="text-align: left;" name="password">
                            <h3 style="color: #101010;">密码:</h3>
                        </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control input-lg" id="password" placeholder="Password" name="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="passwordAgain" style="text-align: left;">
                            <h3 style="color: #101010;">确认密码:</h3>
                        </label>
                        <div class="col-sm-9" id="passwordAgain_div">
                            <input type="password" class="form-control input-lg" id="passwordAgain" placeholder="Password Again">
                        </div>
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-lg" id="submit">注册</button>
                    </div>
                </form>

                <div class="gap-30"></div>

            </div>

        </div>

        <div class="col-sm-3"></div>
    </div>

</section>

<!-- ========== CONTENT END ========== -->
{% endblock %}

{% block js %}
<script>
    $(function(){
        $("#passwordAgain").change(function(){
            password = $("#password").val();
            passwordAgain = $(this).val();
            if(password != passwordAgain){
                alert("两次输入密码不一样，请重新输入！");
                 $(this).val("");
                 $("#passwordAgain_div").removeClass("has-success");
                $("#passwordAgain_div").addClass("has-error");
            }
            else{
                $("#passwordAgain_div").removeClass("has-error");
                 $("#passwordAgain_div").addClass("has-success");
            }
        });

//        $("#submit").submit(function(e){e.preventDefault();
//
//            $("#register input").each(function(){alert("ssssssssaaaa");
//                if($(this).val() == ""){
//                    alert("注册信息有误，请检查后正确填写！");
//                    e.preventDefault();
//
//                }
//            });
//
//        });

        $("#submit").bind("click",function(event){
            var error = false;
           $("#register input").each(function(){
                if($(this).val() == ""){
                    error = true;
                    $(this).parent("div").removeClass("has-success");
                    $(this).parent("div").addClass("has-error");
                }
               else{
                     $(this).parent("div").removeClass("has-error");
                     $(this).parent("div").addClass("has-success");
                }
            });
            if(error){
                alert("注册信息有误，请检查后正确填写！");
            }
            return !error;
        });
    });
</script>
{% endblock %}